.taskDone {
  text-decoration: line-through;
  color: red;
}

.addTask, .inputTextName, .inputTextAssign, .panel-small{
	margin: 0 auto;
	text-align: center;
	display: block;
}

table, th{
	text-align: center;
}
.panel-small{
	width: 600px;
}
